@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ToDos</h1>
    <p class="lead">This is my first MVC todo list application. </p>
    @Html.ActionLink("Click here to start making Todos", "Index", "Todos", new { area = "" }, new { @class = "navbar-brand" })
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
            This project given by Abhishek Dixit.
        </p>
     </div>   
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
       
    </div>
</div>